@model IEnumerable<Category>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="container">
        <!-- Create an HTML table with Bootstrap classes "table" and "table-striped" for styling -->
    <table class='table table-striped'>
        <tr>
            <th class="bg-dark text-light">Id</th>
            <th class="bg-dark text-light">Name</th>
            <!--Check if user is superAdmin-->
            @if (User.IsInRole("SuperAdmin"))
            {
                <th class="bg-dark text-light"> </th>
            }
        </tr>
        <!-- Start a foreach loop to iterate through the Model -->
        @foreach (var category in Model)
        {
            <!-- Start a table row for each category -->

            <tr>
                <td>@category.CategoryId</td>
                <td>
                    <a asp-controller="Category"
                       asp-action="CategoryDetails"
                       asp-route-id="@category.CategoryId">@category.CategoryName</a>
                </td>
                @if (User.IsInRole("SuperAdmin"))
                {
                    <!-- Start a table cell if the user is a SuperAdmin -->

                    <td>
                        <a asp-action="UpdateCategory" asp-route-id="@category.CategoryId" class="btn btn-success">Update</a>
                        <a asp-action="DeleteCategory" asp-route-id="@category.CategoryId" class="btn btn-danger">Delete</a>
                    </td>
                }
            </tr>
        }
    </table>
    <!-- Display a paragraph if the user is a SuperAdmin -->
    @if (User.IsInRole("SuperAdmin"))
    {
        <p>
            <a class="btn btn-secondary"
               asp-controller="Category"
               asp-action="CreateCategory">
                Create New Category
            </a>
        </p>
    }
</div>

