@model IEnumerable<Category>

<div class="container">
    <table class='table table-striped'>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        @foreach (var categogy in Model)
        {
            <tr>
                <td>@categogy.CategoryId</td>
                <td>
                    <a asp-controller="Category"
                       asp-action="Details"
                       asp-route-id="@categogy.CategoryId">@categogy.Name</a>
                </td>              
                <td>
                    <a asp-action="UpdateCategory" asp-route-id="@categogy.CategoryId">Update</a>
                    <a asp-action="DeleteCategory" asp-route-id="@categogy.CategoryId">Delete</a>
                </td>
            </tr>
        }
    </table>
    <p>
        <a class="btn btn-secondary"
           asp-controller="Category"
           asp-action="CreateCategory">Create New Category </a>
    </p>
</div>
