@model IEnumerable<Category>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    var categoryIcons = new Dictionary<string, string>
    {

        { "Sport", "fa-futbol-o" },
        { "Data", "fa-desktop" },
        { "Politics", "fa-globe" },
        { "Health", "fa-heart" },
        { "Job", "fa-briefcase" },
        { "Culture,film and music", "fa-film" },
        { "Mobile, tablets and smartwatches", "fa-mobile" },
        { "Economics and law", "fa-money" }
    };
}


<div class="container">
    <div class="category">
        @if (User.IsInRole("SuperAdmin"))
        {
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Category Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <td><i class="fa fa-fw fa-@category.CategoryName"></i></td>
                            <td><a asp-controller="Category" asp-action="CategoryDetails" asp-route-Id="@category.CategoryId">@category.CategoryName</a></td>
                            <td>
                                <div class="admin-buttons">
                                    <a asp-action="UpdateCategory" asp-route-Id="@category.CategoryId" class="btn btn-success">Update</a>
                                    <a asp-action="DeleteCategory" asp-route-Id="@category.CategoryId" class="btn-admin btn btn-danger">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <ul class="list-group">
                @foreach (var category in Model)
                {
                    <li class="list-group-item">
                        <i class="fa fa-fw @categoryIcons[category.CategoryName]"></i>
                        <a asp-controller="Category" asp-action="CategoryDetails" asp-route-Id="@category.CategoryId">@category.CategoryName</a>
                    </li>
                }
            </ul>
        }
        @if (User.IsInRole("SuperAdmin"))
        {
            <div class="create">
                <a class="btn btn-secondary" asp-controller="Category" asp-action="CreateCategory">Create New Category</a>
            </div>
        }
    </div>
</div>
