@model IEnumerable<Post>

<div class="container">
    <table class='table table-striped'>
        <tr>
            <th class="bg-dark text-light">Id</th>
            <th class="bg-dark text-light">Name</th>
            <th class="bg-dark text-light"> </th>
            <th class="bg-dark text-light"> </th>
        </tr>
        @foreach (var post in Model)
        {
            <tr>
                <td>@post.PostId</td>
                <td>
                    <a asp-controller="Post"
                       asp-action="PostDetails"
                       asp-route-id="@post.PostId">@post.PostTitle</a>
                </td>
                <td>
                    <a asp-action="UpdatePost" asp-controller="Post" asp-route-id="@post.PostId" class="btn btn-success">Update</a>
                    <a asp-action="DeletePost" asp-controller="Post"  asp-route-id="@post.PostId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>