@model IEnumerable<Room>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="container">
    <div class="category">
        @if (User.IsInRole("SuperAdmin"))
        {
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Room Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var room in Model)
                    {
                        <tr>
                            <td></td>
                            <td><a asp-controller="Room" asp-action="RoomDetails" asp-route-id="@room.RoomId">@room.RoomName</a></td>
                            <td>
                                <div class="admin-buttons">
                                    <a asp-action="UpdateRoom" asp-controller="Room" asp-route-id="@room.RoomId" class="btn btn-success">Update</a>
                                    <a asp-action="DeleteRoom" asp-controller="Room" asp-route-id="@room.RoomId" class="btn-admin btn btn-danger">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <ul class="list-group">
                @foreach (var room in Model)
                {
                    <li class="list-group-roomitem">
                        <a asp-controller="Room" asp-action="RoomDetails" asp-route-id="@room.RoomId">@room.RoomName</a>
                       
                    </li>
                }
            </ul>
        }
    </div>
</div>
