@model IEnumerable<Topic>

<div class="container">
    <table class='table table-striped'>
        <tr>
            <th class="bg-dark text-light">Name</th>
            <th class="bg-dark text-light"> </th>
            <th class="bg-dark text-light"> </th>
        </tr>
        @foreach (var topic in Model)
        {
            <tr>
                <td>@topic.TopicId</td>
                <td>
                    <a asp-controller="Topic"
                       asp-action="TopicDetails"
                       asp-route-id="@topic.TopicId">@topic.TopicName</a>
                </td>
                <td>
                    <a asp-action="UpdateTopic" asp-controller="Topic" asp-route-id="@topic.TopicId">Update</a>
                    <a asp-action="DeleteTopic" asp-controller="Topic" asp-route-id="@topic.TopicId">Delete</a>

                </td>
            </tr>
        }
    </table>
</div>

