@model IEnumerable<Topic>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="container">
    <div class="category">

        <!-- Check if the user is in the "SuperAdmin" role -->
        @if (User.IsInRole("SuperAdmin"))
        {
            <!-- Display a table for topic  -->

            <table class="table">
                <thead>
                    <tr>
                        <th>Topic Name</th>
                        <th class="thead">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var topic in Model)
                    {
                        <tr>
                            <td>
                                <a asp-controller="Topic" asp-action="TopicDetails" asp-route-id="@topic.TopicId">@topic.TopicName</a>
                            </td>
                            <td>
                                <div class="admin-buttons topic">
                                    <!--Buttonm to uppdate topic-->
                                    <a asp-action="UpdateTopic" asp-controller="Topic" asp-route-id="@topic.TopicId" class="btn btn-success">Update</a>
                                    <!--Button to delete topic-->
                                    <a asp-action="DeleteTopic" asp-controller="Topic" asp-route-id="@topic.TopicId" class="btn btn-danger">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        // <!-- If the user is not a SuperAdmin, display a simple list of topics -->
        else
        {
            <ul class="list-group">
                @foreach (var topic in Model)
                {
                    <li class="list-group-roomitem">
                        <!-- Link to view topic details -->
                        <a asp-controller="Topic" asp-action="TopicDetails" asp-route-id="@topic.TopicId">@topic.TopicName</a>
                        
                    </li>
                }
            </ul>
        }
    </div>
</div>
