@model Forum.Models.Topic
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<H1>@Model.TopicName</H1>

<a class="link-primary" asp-controller="Home" asp-action="Index">Home ></a>
<a asp-action="CategoryDetails" asp-controller="Category" asp-route-id="@Model.Room.CategoryId" class="link-primary">@Model.Room.Category.CategoryName ></a>
<a asp-action="RoomDetails" asp-controller="Room" asp-route-id="@Model.RoomId" class="link-primary">@Model.Room.RoomName ></a>
<a class="link-primary">@Model.TopicName</a>

<partial name="_PostTable" model="Model.Posts" />

<!-- <a defines this a as a hyperlink. The controller is "Post", and the action is CreatePost (+[HttpGet] because hyperlink).
The TopicId from the Topic model gets passed. (TopicController HttpGet TopicDetails action).-->
@if (User.IsInRole("SuperAdmin") || User.IsInRole("Member"))
{
    <a class="btn btn-primary" class="create" style="margin-left: 110px;"
   asp-controller="Post"
   asp-action="CreatePost"
   asp-route-topicId="@Model.TopicId">Create New Post</a>
}