@model Forum.Models.Room
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<a class="navigation-link asp-controller="Home" asp-action="Index">Home ></a>
<a class="navigation-link asp-action="CategoryDetails" asp-controller="Category" asp-route-id="@Model.CategoryId" class="link-primary">@Model.Category.CategoryName ></a>
<a class="navigation-link">@Model.RoomName</a>

<H1>@Model.RoomName</H1>


<partial name="_TopicTable" model="Model.Topics" />

@if (User.IsInRole("SuperAdmin"))
{
    <a class="btn btn-primary" class="create" style="margin-left: 110px;"
   asp-controller="Topic"
   asp-action="CreateTopic"
   asp-route-roomId="@Model.RoomId">Create New Topic</a>
}